@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');


body {
  font-family: "Source Sans Pro", sans-serif;
}

.navbar {
  height: 65px;
  font-size: 22px;
  padding: 0 32px;
  border-bottom: 2px solid #293742;
  border-radius: 0px;
}


.navbar-header {
  display: block !important;
}


.sidebar {
  border-right: 2px solid #293742 !important;
}


.main {
  padding: 0px !important;
}


#app-layout-title {
  font-weight: bold;
  font-size: 30px;
}


#app-layout-brand {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 5px;
}


#app-layout-logo {
  height: 50px;
  display: block;
  width: auto;
}


.icon {
  font-size: 30px;
  height: 30px;
  line-height: 1;
  vertical-align: middle;
}


.hover-icon .icon-hover {
  display: none;
}


.hover-icon:hover .icon-default {
  display: none;
}


.hover-icon:hover .icon-hover {
  display: inline;
}


/* for spaces in inline labels */
.spacer {
  display: inline-flex;
  align-items: center;
  height: 1em;
  margin: 0 3px;
  transform: translateY(0.2em);
}


/* fix spacing in inline-flex parents */
.spacer-inline {
  display: inline-flex;
  align-items: center;
  height: 1em;
  margin: 0 6px;
  transform: translateY(0.3em);
}


/* slightly adjusted spacer for toast header */
.toast-spacer {
  display: inline-flex;
  align-items: center;
  height: 1em;
  margin: 0 6px;
}


/* vertical bar inside spacers */
.divider {
  width: 1px;
  height: 100%;
  background: #bbb;
}


/* change font family of shiny inputs to monospace */
.code-input,
.code-input .shiny-input-text {
  font-family: monospace !important;
}



/* add a gap below pseudo-labels */
.pseudo-label {
  margin-bottom: 5px;
}


.text-expand {
  overflow: hidden;
  max-height: 3em; /* show ~2 lines */
  transition: max-height 0.3s ease;
}


.text-expand.expanded {
  max-height: 100vh;
}


a.show-more {
  cursor: pointer;
  font-weight: bold;
  user-select: none;
}


div.vertical-stack {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}


/* Scrollbar track */
::-webkit-scrollbar {
  width: 12px;               /* width of the whole scrollbar */
  height: 12px;              /* height if horizontal scrollbar */
}

/* Scrollbar track */
::-webkit-scrollbar-track {
  background: #f0f0f0;       /* color of the track */
  border-radius: 10px;
}

/* Scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #888;    /* color of the scroll thumb */
  border-radius: 10px;       /* roundness */
  border: 3px solid #f0f0f0; /* creates padding around thumb */
}

/* Scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* Firefox */
.element {
  scrollbar-width: thin;             /* auto, thin, none */
  scrollbar-color: #888 #f0f0f0;    /* thumb color and track color */
}


/* prepend x and y to coordinate selectors */
.non_gis_geometry .selectize-input .item:first-child::before {
  content: 'X: ';
  font-weight: bold;
  color: #df3545;
  margin-right: 5px;
}


.non_gis_geometry .selectize-input .item:nth-child(2)::before {
  content: 'Y: ';
  font-weight: bold;
  color: #28a745;
  margin-right: 5px;
}


.non_gis_geometry .selectize-input {
  border: 2px solid;
  border-radius: 8px;
  min-height: 50px;
}


.non_gis_geometry .selectize-input .item {
  background: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 4px;
  padding: 8px 12px;
  margin: 2px;
  font-size: 14px;
}


.pal-block {
  display: inline-flex;
  align-items: center;
  width: 2rem;
  height: 0.5rem;
  flex-shrink: 0;
  margin-right: 0.3rem;
}


.pal-square {
  flex: 1;
  aspect-ratio: 1/1;
  display: inline-block;
}


/* Overwrite bootstrap styling */

.nav-underline {
  --bs-nav-underline-border-width: 0px !important;
}


.bslib-page-fill > .html-fill-container {
  border-top: 1px solid #000 !important;
}
